.page {
    background-image: url("./asset/calculator-561439209c574c6dbf7965e1a3b5b226.jpg");
    width: 100%;
    height: 100vh;
    padding-top: 500px;
    padding-left: 350px;
    
  }  

.list-items li a{
    text-decoration: none;
    color: black
    
}

.list-items li {
    list-style: none;
    color: black; 
}